Repository haliphax/ktor-starter-project: changes, and which pre-commit hooks are due for each by the changed paths.
All: ktlint, prettier

ktlint:
  name: ktlint
  entry: scripts/ktlint.sh
  language: system
  require_serial: true

prettier:
  name: prettier
  entry: scripts/prettier.sh
  language: system
  require_serial: true

📝 update readme title
  README.md
Due: prettier

🔒️ dependency lockfiles
  build.gradle.kts
  common/gradle.lockfile
  gradle.lockfile
  grpc-server/gradle.lockfile
  http-server/gradle.lockfile
  proto/gradle.lockfile
Due: ktlint, prettier

🔒️ dependency lockfiles (#157)
  build.gradle.kts
  common/gradle.lockfile
  gradle.lockfile
  grpc-server/gradle.lockfile
  http-server/gradle.lockfile
  proto/gradle.lockfile
Due: ktlint, prettier

⚰️ remove retention workflow
  .github/workflows/retention.yml
Due: prettier

👷 concurrency policy for workflows
  .github/workflows/codacy.yml
  .github/workflows/tests.yml
Due: prettier

👷 fire on all pull_request event types
  .github/workflows/tests.yml
Due: prettier

👷 workflow cleanup (#160)
  .github/workflows/codacy.yml
  .github/workflows/retention.yml
  .github/workflows/tests.yml
Due: prettier

👷 split lint/test workflows
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier

👷 markdown report for coverage results
  .github/workflows/test.yml
  .github/workflows/tests.yml
  build.gradle.kts
  settings.gradle.kts
Due: ktlint, prettier

👷 coverage report in pr with task (#158)
  .github/workflows/test.yml
  .github/workflows/tests.yml
  build.gradle.kts
  settings.gradle.kts
Due: ktlint, prettier

👷 only run workflows against PR
  .github/workflows/codacy.yml
  .github/workflows/test.yml
Due: prettier

👷 only run workflows against PR (#161)
  .github/workflows/codacy.yml
  .github/workflows/test.yml
Due: prettier

👷 allow codacy to run on schedule
  .github/workflows/codacy.yml
Due: prettier

👷 coveralls integration
  .github/workflows/test.yml
Due: prettier

👷 coveralls integration (#162)
  .github/workflows/codacy.yml
  .github/workflows/test.yml
Due: prettier

👷 only run build against PRs
  .github/workflows/test.yml
Due: prettier

👷 testspace integration
  .github/workflows/test.yml
  build.gradle.kts
Due: ktlint, prettier

👷 testspace integration (#163)
  .github/workflows/test.yml
  build.gradle.kts
Due: ktlint, prettier

📝 readme badges
  README.md
Due: prettier

🚚 workflow job names
  .github/workflows/test.yml
Due: prettier

📝 readme updates
  README.md
Due: prettier

👷 add workflow_dispatch trigger to codacy scan
  .github/workflows/codacy.yml
  README.md
Due: prettier

👷 split test and build workflows
  .github/workflows/build.yml
  .github/workflows/test.yml
  README.md
Due: prettier

👷 buildSrc project with separate config scripts
  .gitignore
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/dev/haliphax/ksp.gradle.kts
  buildSrc/src/main/kotlin/dev/haliphax/reporting.gradle.kts
  buildSrc/src/main/kotlin/dev/haliphax/reproducible-builds.gradle.kts
  buildSrc/src/main/kotlin/dev/haliphax/testing-suites.gradle.kts
  buildSrc/src/main/kotlin/dev/haliphax/version-targeting.gradle.kts
  proto/build.gradle.kts
  settings.gradle.kts
Due: ktlint, prettier

👷 buildSrc project with separate config scripts (#166)
  .gitignore
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/dev/haliphax/ksp.gradle.kts
  buildSrc/src/main/kotlin/dev/haliphax/reporting.gradle.kts
  buildSrc/src/main/kotlin/dev/haliphax/reproducible-builds.gradle.kts
  buildSrc/src/main/kotlin/dev/haliphax/testing-suites.gradle.kts
  buildSrc/src/main/kotlin/dev/haliphax/version-targeting.gradle.kts
  proto/build.gradle.kts
  settings.gradle.kts
Due: ktlint, prettier

🎨 use root gradle.properties in buildSrc
  buildSrc/build.gradle.kts
  gradle.properties
  settings.gradle.kts
Due: ktlint, prettier

🎨 use root gradle.properties in buildSrc (#167)
  buildSrc/build.gradle.kts
  gradle.properties
  settings.gradle.kts
Due: ktlint, prettier

📝 update test badge
  README.md
Due: prettier

👷 automerge lockfile updates
  .github/renovate.json
Due: prettier

⬆️ bump knock-on dependencies; rewrite lockfiles
  common/gradle.lockfile
  gradle.lockfile
  gradle.properties
  grpc-server/gradle.lockfile
  http-server/gradle.lockfile
  proto/gradle.lockfile
Due: prettier

➕ grpc-all for InProcessServerBuilder
  common/gradle.lockfile
  grpc-server/gradle.lockfile
  http-server/gradle.lockfile
  settings.gradle.kts
Due: ktlint, prettier

🧑‍💻 add .sdkmanrc config
  .sdkmanrc
Due: prettier

🧑‍💻 add .sdkmanrc config (#250)
  .sdkmanrc
Due: prettier

⬆️ upgrade to kotlin 1.9.10
  build.gradle.kts
  buildSrc/src/main/kotlin/dev/haliphax/testing-suites.gradle.kts
  buildSrc/src/main/kotlin/dev/haliphax/version-targeting.gradle.kts
  common/gradle.lockfile
  gradle.lockfile
  gradle.properties
  grpc-server/gradle.lockfile
  http-server/gradle.lockfile
  proto/build.gradle.kts
  proto/gradle.lockfile
Due: ktlint, prettier

⬆️ upgrade kotlin to 1.9.10 (#249)
  .github/workflows/build.yml
  .github/workflows/test.yml
  build.gradle.kts
  buildSrc/src/main/kotlin/dev/haliphax/testing-suites.gradle.kts
  buildSrc/src/main/kotlin/dev/haliphax/version-targeting.gradle.kts
  common/gradle.lockfile
  gradle.lockfile
  gradle.properties
  grpc-server/gradle.lockfile
  http-server/gradle.lockfile
  proto/build.gradle.kts
  proto/gradle.lockfile
Due: ktlint, prettier

⬆️ upgrade gradle to 8.3
  common/gradle.lockfile
  gradle.lockfile
  gradle/wrapper/gradle-wrapper.properties
  grpc-server/gradle.lockfile
  http-server/gradle.lockfile
  proto/gradle.lockfile
Due: prettier

⬆️ upgrade gradle to 8.3 (#252)
  common/gradle.lockfile
  gradle.lockfile
  gradle/wrapper/gradle-wrapper.properties
  grpc-server/gradle.lockfile
  http-server/gradle.lockfile
  proto/gradle.lockfile
Due: prettier

⚰️ remove bytebuddy constraint
  build.gradle.kts
Due: ktlint

🚚 master -> main
  .github/workflows/build.yml
  .github/workflows/codacy.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier

Path conditions:
  ktlint: any of: \.kts?$
  prettier: any file but: \.kts?$
