Repository haliphax/ktor-starter-project: changes, and which pre-commit hooks are due for each by the changed paths.
All: ktlint, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ktlint
        name: ktlint
        entry: scripts/ktlint.sh
        language: system
        types: [text]
        files: \.kts?$
        require_serial: true

      - id: prettier
        name: prettier
        entry: scripts/prettier.sh
        exclude: \.kts?$
        language: system
        types: [text]
        require_serial: true

📝 update readme refs
  README.md
Due: prettier

📌 pin node version for dx tools
  .nvmrc
  package.json
Due: prettier

📌 add bytebuddy constraint (again)
  build.gradle.kts
  common/gradle.lockfile
  grpc-server/gradle.lockfile
  grpc-server/src/test/kotlin/dev/haliphax/ktorGrpc/services/demo/DemoServiceTest.kt
  http-server/gradle.lockfile
Due: ktlint, prettier

📝 fix build badge
  README.md
Due: prettier

👷 fix prettier args
  .github/workflows/lint.yml
Due: prettier

🧑‍💻 fix prettier args
  scripts/prettier.sh
Due: prettier

🧑‍💻 add standard pre-commit hooks
  .pre-commit-config.yaml
Due: prettier

🧑‍💻 better gitmoji hook
  scripts/install-gitmoji-hook.sh
Due: prettier

🧑‍💻 add standard pre-commit hooks (#255)
  .pre-commit-config.yaml
Due: prettier

🧑‍💻 don't always run allTest
  buildSrc/src/main/kotlin/dev/haliphax/testing-suites.gradle.kts
Due: ktlint

🧑‍💻 don't always run allTest (#256)
  buildSrc/src/main/kotlin/dev/haliphax/testing-suites.gradle.kts
Due: ktlint

👷 workflow fixups
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier

👷 workflow fixups (#257)
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier

✅ don't show passing tests
  buildSrc/src/main/kotlin/dev/haliphax/testing-suites.gradle.kts
Due: ktlint

💚 prefix code coverage report task name
  .github/workflows/test.yml
Due: prettier

⬆️ update gradle wrapper
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: prettier

🧑‍💻 better gitmoji hook (#258)
  scripts/install-gitmoji-hook.sh
Due: prettier

👷 use tasks instead of wrapper when bootstrapping
  scripts/bootstrap.sh
Due: prettier

📝 point testspace at main branch
  README.md
Due: prettier

📝 again?
  README.md
Due: prettier

👷 read-all permissions for workflows
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier

💚 allow issues:write in test job
  .github/workflows/test.yml
Due: prettier

♻️ formatting
  http-server/src/main/kotlin/dev/haliphax/ktorHttp/modules/core/ConfigureRouting.kt
Due: ktlint

👷 add "patch" to automerge types
  .github/renovate.json
Due: prettier

⬆️ bump jvm and node versions
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .nvmrc
  .sdkmanrc
  build.gradle.kts
  package-lock.json
  package.json
Due: ktlint, prettier

📝 fix readme refs and links
  README.md
Due: prettier

⬆️ bump gradle to 8.6
  .github/workflows/test.yml
  buildSrc/src/main/kotlin/dev/haliphax/testing-suites.gradle.kts
  common/gradle.lockfile
  gradle.lockfile
  gradle/wrapper/gradle-wrapper.properties
  grpc-server/gradle.lockfile
  http-server/gradle.lockfile
  proto/gradle.lockfile
Due: ktlint, prettier

⬆️ bump gradle to 8.6 (#363)
  .github/workflows/test.yml
  buildSrc/src/main/kotlin/dev/haliphax/testing-suites.gradle.kts
  common/gradle.lockfile
  gradle.lockfile
  gradle/wrapper/gradle-wrapper.properties
  grpc-server/gradle.lockfile
  http-server/gradle.lockfile
  proto/gradle.lockfile
Due: ktlint, prettier

👷 avoid use of buildDir in gradle scripts
  buildSrc/src/main/kotlin/dev/haliphax/reporting.gradle.kts
  buildSrc/src/main/kotlin/dev/haliphax/testing-suites.gradle.kts
Due: ktlint

♻️ remove unnecessary dependency hack
  proto/build.gradle.kts
Due: ktlint

📝 update gradle refs in readme
  README.md
Due: prettier

📝 documentation generation with dokka
  .github/workflows/docs.yml
  build.gradle.kts
  common/gradle.lockfile
  gradle.lockfile
  grpc-server/gradle.lockfile
  http-server/gradle.lockfile
  proto/gradle.lockfile
  settings.gradle.kts
Due: ktlint, prettier

📝 documentation generation with dokka (#364)
  .github/workflows/docs.yml
  build.gradle.kts
  common/gradle.lockfile
  gradle.lockfile
  grpc-server/gradle.lockfile
  http-server/gradle.lockfile
  proto/gradle.lockfile
  settings.gradle.kts
Due: ktlint, prettier

📝 docs badge
  .github/workflows/docs.yml
  README.md
Due: prettier

📝 dokka link in readme
  README.md
Due: prettier

📝 fix mockk link
  README.md
Due: prettier

⬆️ kotlin 1.9.24
  common/gradle.lockfile
  gradle.lockfile
  gradle.properties
  grpc-server/gradle.lockfile
  http-server/gradle.lockfile
  proto/gradle.lockfile
Due: prettier

⬆️ kotlin 1.9.24 (#429)
  common/gradle.lockfile
  gradle.lockfile
  gradle.properties
  grpc-server/gradle.lockfile
  http-server/gradle.lockfile
  proto/gradle.lockfile
Due: prettier

⬆️ bump kotlin to 2.0.20
  buildSrc/build.gradle.kts
  common/gradle.lockfile
  gradle.lockfile
  gradle.properties
  grpc-server/gradle.lockfile
  http-server/gradle.lockfile
  proto/gradle.lockfile
Due: ktlint, prettier
